footer.page-footer.blue
  .container
    .row
    
      .col.s6
        h5.white-text Apoio
        ul 
          li
            a.grey-text.text-lighten-4(href='#' target='_blank' rel='nofollow') Colégio Joana D'Arc
          li
            a.grey-text.text-lighten-4(href='#' target='_blank' rel='nofollow') Colégio Jorge Amado

      .col.s6
        h5.white-text Redes
        ul
          li
            a.grey-text.text-lighten-3(href='https://instagram.com/debatef.2019' target='_blank' rel='nofollow') Instagram
          li
            a.grey-text.text-lighten-3(href='#' target='_blank' rel='nofollow') Facebook
          li
            a.grey-text.text-lighten-3(href='https://wa.me/5573988491510' target='_blank' rel='nofollow') WhatsApp

  .footer-copyright.blue.darken-1
    .container © 2019 
      a.grey-text.text-lighten-4(href='https://tecwolf.com.br/' target='_blank') TecWolf
