head
  meta(http-equiv='content-type' content='text/html')

  meta(charset='utf-8')

  meta(name='viewport' content='width=device-width, initial-scale=1')

  meta(name='description' content='Debate Filosófico em Ilhéus acerca do tema Porte de Armas, aproveite essa oportunidade para diologar sobre o futuro do Brasil.')
  meta(name='og:title' property='og:title' content='DEAF')
  meta(name='twitter:card' content='DEAF')
  
  link(rel='shortcut icon' type='image/x-icon' href='/assets/image/icon.ico')
  link(rel='canonical' href='https://debartefilosofico.web.app/')

  title DEAF

  - var MEDIA_CONDITION = 'if (media!="all") { media="all" }';
  
  // MATERIALIZE
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/materialize-css/dist/css/materialize.min.css')

  // QUILL
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/quill/dist/quill.snow.css' media='none' onload='if (media!="all") { media="all" }')

  // ANIMATECSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css/animate.min.css' media='none' onload='if (media!="all") { media="all" }')

  // DATATABLES
  link(rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' media='none' onload='if (media!="all") { media="all" }')
  link(rel='stylesheet' href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css' media='none' onload='if (media!="all") { media="all" }')
  
  // STYLE
  link(rel='stylesheet' href='/assets/css/style.min.css' media='none' onload='if (media!="all") { media="all" }')
