doctype html
html
  include assets/include/head.pug
  meta(name='robots' content='noindex, nofollow')
  link(rel='stylesheet' href='/assets/css/login.min.css' media='none' onload=MEDIA_CONDITION)

  body(style='background-image: url('+ BACKGROUND_IMAGE +'); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;')
    
    #loading.pace.pace-active
      .pace-progress(data-progress="50" data-progress-text="50%" style="-webkit-transform: translate3d(50%, 0px, 0px); -ms-transform: translate3d(50%, 0px, 0px); transform: translate3d(50%, 0px, 0px);")
        .pace-progress-inner
      .pace-activity

    #app(style='display: none')

      main

        section#telefone.row.animated.bounceIn
          .col.s12.z-depth-4.card-panel
            form(action='#' onsubmit='LoginTelefone(); return false;')
              .row
                .input-field.col.s12.center
                  img.circle.responsive-img.animated.infinite.heartBeat(src=LOGO_IMAGE)
                  p.center.login-form-text Acesso Restrito
              .row.margin
                .input-field.col.s12
                  input#telefone-input(type='tel' required)
                  label.center-align(for='telefone-input') Telefone
              .row
                .input-field.col.s12
                  button#telefone-button.btn.waves-effect.waves-light.blue.col.s12(type='submit') Continuar

        section#senha.row.animated.bounceIn(style='display: none;')
          .col.s12.z-depth-4.card-panel
            form(action='#' onsubmit='LoginSenha(); return false;')
              .row
                .input-field.col.s12.center
                  img.circle.responsive-img.animated.infinite.heartBeat(src=LOGO_IMAGE)
                  p.center.login-form-text Acesso Restrito
              .row.margin
                .input-field.col.s12
                  input#senha-input(type='password' required)
                  label(for='senha-input') Senha
              .row
                .input-field.col.s12
                  button#senha-button.btn.waves-effect.waves-light.blue.col.s12(type='submit') Entrar
                    
    include assets/include/foot.pug
